<div id="menu">
  <ul>
    <li>
      <a href="/">
	Home
      </a>
      <span>|</span>
    </li>
    <li>
      <a href="/about">About</a>
      <span>|</span>
    </li>
    <div id="author">
      © Strzelewicz Alexandre 2011
    </div>
  </ul>
</div>
