
<script src="/javascripts/compile.js"></script>

<div id="home">

  <div class="try-me">
    <h1>Try me</h1>
    <h3>Code</h3>
    <textarea rows="5" cols="70" id="code-source">
    </textarea>
    
    <select id="list-language"></select>

    <input type="button" id="submit-code" value="Compile & execute"/>
    
    <h3>Result</h3>
    <textarea rows="5" cols="70" id="output">
    </textarea>
  </div>

  <div class="the-api">
    <h1>API</h1>

    <ul>
      <li><a href="#anch-list-lang">List languages</a></li>
      <li><a href="#anch-ping">Ping</a></li>
      <li><a href="#anch-compile">Compile</a></li>
    </ul>
  
    <div class="each-func">
      <h3 id="anch-compile">Compile <small>/api/compile (POST)</small></h3>
      
      <h4>Post a JSON structured like that</h4>
      <div id="json"><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">languages_indice</span>: <span class="string">"X"</span></li><li><span class="prop">code</span>: <span class="string">"The code"</span></li><li><span class="prop">params</span>: <span class="string">"The params"</span></li></ul>}</div>

      <h4>And in case of success you get :</h4>

      <div id="json"><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">success</span>: <span class="bool">true</span></li><li><span class="prop">output</span>: <span class="string">"the stdout"</span></li></ul>}</div>
      
      <h4>Or in case of failure :</h4>
      
      <div id="json"><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">success</span>: <span class="bool">false</span></li><li><span class="prop">output</span>: <span class="bool">false</span></li><li><span class="prop">infos</span>: <span class="string">"The information about the error"</span></li></ul>}</div>

    </div>


    <div class="each-func">
      <h3 id="anch-list-lang">List languages <small><a href="/api/languages" target="_blank">/api/languages</a></small></h3>
      
      <div id="json"><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">languages</span>: <div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">root</span>: <div class="collapser">-</div>[<ul class="array collapsible"><li><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">indice</span>: <span class="num">0</span></li><li><span class="prop">language</span>: <span class="string">"Ruby"</span></li><li><span class="prop">cmd</span>: <span class="string">"ruby"</span></li><li><span class="prop">version</span>: <span class="string">"1.9.1"</span></li></ul>}</li><li><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">indice</span>: <span class="num">1</span></li><li><span class="prop">language</span>: <span class="string">"Gcc"</span></li><li><span class="prop">cmd</span>: <span class="string">"gcc"</span></li><li><span class="prop">version</span>: <span class="string">"4.4.1"</span></li></ul>}</li><li><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">indice</span>: <span class="num">2</span></li><li><span class="prop">language</span>: <span class="string">"G++"</span></li><li><span class="prop">cmd</span>: <span class="string">"g++"</span></li><li><span class="prop">version</span>: <span class="string">"4.4.1"</span></li></ul>}</li></ul>]</li></ul>}</li><li><span class="prop">success</span>: <span class="bool">true</span></li></ul>}</div>
      </div>

    <div class="each-func">
      <h3 id="anch-ping">Ping <small><a href="/api/ping" target="_blank">/api/ping</a></small></h3>
      
      <div id="json"><div class="collapser">-</div>{<ul class="obj collapsible"><li><span class="prop">pong</span>: <span class="bool">true</span></li><li><span class="prop">success</span>: <span class="bool">true</span></li></ul>}</div>
    </div>
    
    
  </div>
  

</div>


