<!doctype html>
<html>
  <head>
    <%- partial('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/json_style.css">
    <script src="/javascripts/jquery-1.6.4.min.js"></script>
    <script src="/javascripts/jquery.tmpl.js"></script>
  </head>
  <body>
    <div id="container">
      
      <img id="image-logo" style="display : inline;" src="/images/nurse-logo-254-456.png" alt="Nurse API"/>
            
      
      <div id="main">
	<%- body %>
      </div>
      
      <div id="footer">
	<%// partial('partials/menu') %>
      </div>
      
    </div>
  </body>
</html>
