/* Customized */

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/patterns";
@import 'functions';

header { 
    padding-top : 50px; 
}

footer { 
    background-color: #EEE;
    min-width: 940px;
    padding: 30px 0;
    text-shadow: 0 1px 0 white;
    border-top: 1px solid #E5E5E5;
    -webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
    -moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
    background-color : #EEE; 
    height : 80px;
}


.main {
    margin-top : 20px;
    min-height : 400px;
}

section {
    padding-top : 20px;
}

// Page

.main-page {
    .main-page-subjects-section {
	cursor : pointer;
    }
}

.chapters-page {
    section {
	padding-top : 0px;
	/* margin-bottom : 15px; */
	padding : 4px 0 10px 5px;
	/* padding : 10px 10px 20px 10px; */
	@include rounded(5px);
	&:hover {
	    //background-color : $grayLightest;
	}
    }

    .chapter-descr {
	a {
	    text-decoration : none;
	    color : $grayDark;
	}
	.chapter-detail {
	    background-color : #F5F5F5;
	    border : 1px solid #DDD;
	    @include rounded(4px);
	    height : 27px;
	    line-height : 27px;
	    font-weight : bold;
	    margin-top :10px;
	    width : 700px;
	    padding : 0 0 0 10px;
	    @include transition(.3s);
	    .text-chapter {
		display : inline-block;
		padding-left : 3px;
	    }
	    .play-icon {
		float : right;
		padding-top : 4px;
		padding-right : 10px;
	    }
	    &:hover {
		outline: 0;
		border-color: rgba(82, 168, 236, 0.8);
		-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);

		//background-color : #BFE7BF;
	    }
	}
    }   
}



// Subject management
.subject-management {
    .subject {
	border-bottom : 1px dotted $grayLight;
    }
}

.chapters {
    .add-chapters-button {
	float : right;
	margin-top : 20px;
	margin-right : 10px;
	font-weight : bold;
	@extend .alert-message;
    }
    
    .chapter-each {

	padding-top : 20px;
	padding-bottom : 10px;
	border-bottom : 1px dotted $grayLight;

	.chapter-each-display {
	    padding-top : 20px;
	    display : none;
	    //margin-left : 50px;

	}
	.chapter-show-each {
	    min-height : 40px;
	}
    }
    .sections-chapter-title {
	padding-bottom : 5px;
	border-bottom : 1px dotted $grayLight;

    }
}

.sections {
    margin-left : 30px;
    min-height : 30px;
    .remove-chapter-link {
	margin-left : 20px;
    }
    .add-sections-button {
	float : right;
	margin-top : 10px;
	margin-right : 10px;
	font-weight : bold;
	@extend .alert-message;	
    }
    .section-each {
	padding-top : 10px;
	.section-show-each {
	    margin-left : 100px;
	}
	.section-each-display {
	    padding-top : 20px;
	    display : none;
	    margin-left : 70px;

	}
    }
}

.page-header-min {
    @extend .page-header;
    margin-bottom : 5px;
}

.show-sections {
    .video-js-box {
	margin-top : 10px;
    }
    .begin-exercice {
	margin-top : 10px;
    }

    .video-listing {
	height : 200px;
	border : 1px solid #DDD;
	overflow-y : auto;
	@include rounded(3px);
	
	ul {
	    padding : 6px 0 0 6px;
	    list-style-type : none;
	    margin : 0;
	    
	    .selected {
		outline: 0;
		border-color: rgba(82, 168, 236, 0.8);
		-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
		background-color : #F5F5F5;
	    }
	    li {
		color : #404040;
		font-weight : bold;
		border : 1px solid #DDD;
		width : 93%;
		padding : 5px;
		margin-bottom : 5px;

		@include rounded(3px);
		@include transition(.3s);
	    }
	    li:hover {
		@extend .selected;
		cursor : pointer;
	    }
	}
    }
}