/* Customized */

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/patterns";
@import 'functions';

header { padding-top : 50px; }
footer { 
background-color: #EEE;
min-width: 940px;
padding: 30px 0;
text-shadow: 0 1px 0 white;
border-top: 1px solid #E5E5E5;
-webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
-moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, .025);
background-color : #EEE; height : 80px;
}


.main {
    margin-top : 20px;
    min-height : 400px;
}

#chapters-expand, .sections-expand {
    width : 150px !important;
    text-align : center;
    /* @include rounded(5px); */
    /* height : 30px; */
    /* background-color : #CCC; */
    /* padding : 0 0 0 20px; */
    /* line-height : 30px; */
    /* font-size : 17px; */
    
    /* &:hover { */
    /* 	background-color :  */
    /* } */
}

.chapters {
    margin-left : 100px;
    padding-top : 20px;
    width : 500px;
    display : none;
    .chapter-each-display {
	display : none;
    }
    .section-display {
	display: none;
    }
}


.sections {
    margin-left : 100px;
    .section-each {
	border-bottom : 1px solid black;
    }
}

section {
    padding-top : 20px;
}

.chapter-descr {
    a {
	text-decoration : none;
	color : $grayDark;
    }
    .chapter-detail {
	background-color : #D1EED1;
	border-color : #BFE7BF;
	height : 30px;
	line-height :30px;
	font-weight : bold;
	margin-top :10px;
	width : 600px;
	padding : 0 0 0 10px;
	@include rounded(9px);
	&:hover {
	    background-color : #BFE7BF;
	}
    }
}

.page-header-min {
    @extend .page-header;
    margin-bottom : 5px;
}

.show-sections {
    .begin-exercice {
	margin-top : 20px;
    }
    .video-listing {
	//padding : 0 0 0 9px;
	height : 200px;
	border : 1px solid $grayLight;
	margin : 0 -1px;
	overflow-y : scroll;
	@include rounded(5px);
	
	h3 {
	    border-bottom : 1px dotted $grayLight;
	    padding-left : 8px;
	}
	ul {
	    padding : 13px 0 0 9px;
	    list-style-type : none;
	    margin : 0;
	    
	    li {
		border : 1px solid $grayLight;
		width : 220px;
		@include rounded(5px);
		padding : 5px;
		margin-bottom : 7px;
	    }
	    li:hover {
		background-color: $grayLight;
	    }
	}
    }
}