<div id="web-lab">
  <span id="copyright">
    Copyright &copy; <%= Date.today.year %> - WebLab - Eschool
  </span>
  <span id="author">
    by <a target="_blank" href="http://apps.hemca.com" title="Strzelewicz Alexandre works">Strzelewicz Alexandre</a>
  </span>
</div>
